.App {
  display: flex;
  flex-direction: column;
  perspective: 800;
  min-height: 100%;
  justify-content: center;
}

@media all and (max-width: 767px) {
  .App {
    perspective-origin: 50% 50vh;
  }
}

.App .KyykkisButtons {
  flex: 1;
  margin: 0 auto;
  width: 100%;
  max-width: 1024px;
}
